<%= form_for(@reports_daily_contribution) do |f| %>
  <% if @reports_daily_contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reports_daily_contribution.errors.count, "error") %> prohibited this reports_daily_contribution from being saved:</h2>

      <ul>
      <% @reports_daily_contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
