// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
	font-style: italic;
}

p.table_title{
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
}